.mobile {
  .scheme {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__header {
    margin-bottom: 30px;
  }

  &__logo {
    margin-bottom: 50px;
  }

  &__logo-image {
    max-width: 110px;
    margin-bottom: 10px;

    a {
      display: inline-block;
    }
  }

  &__logo-title p {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: #D1253C;
  }

  &__sale {
    max-width: 155px;
    text-transform: uppercase;
    color: #D1253C;

    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
    }

    span {
      display: block;
      font-weight: 500;
      font-size: 68px;
      line-height: 100%;
    }
  }

  &__toothbrush {
    max-width: 204px;
    padding-top: 45px;
  }

  &__body {
    background: linear-gradient(187deg, #D1253C 80%, #EFEFEF 50%);
    min-height: 100vh;
  }

  &__coupon {
    margin-bottom: 40px;
  }

  &__coupon-sale {
    max-width: 272px;
    background: #FFFFFF;
    border-radius: 0px 0px 40px 40px;
    padding: 40px 48px 40px 32px;
    margin-bottom: 20px;

    &-title {
      margin-bottom: 15px;

      p {
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        text-transform: uppercase;
        color: #D1253C;
        padding-left: 10px;
      }
    }
  }

  &__coupon-button {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: -53px;
      bottom: 25px;
      background-image: url('../../assets/icon/arrow.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 48px;
      height: 151px;
    }

    p {
      text-align: center;
      background: #FFFFFF;
      box-shadow: 0px 20px 40px rgba(77, 80, 84, 0.15);
      border-radius: 35px;
      padding: 16px 25px;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;
      color: #D1253C;
    }
  }

  &__magnit {
    max-width: 50px;
    padding-top: 20px;
  }

  &__rules {
    margin-bottom: 40px;
  }

  &__rule {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 49px;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    &-text {
      display: flex;
      align-items: center;
      color: #FFFFFF;
      width: 100%;

      span {
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        margin-right: 10px;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 110%;
      }
    }
  }

  &__period {
    margin-bottom: 60px;

    p {
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      line-height: 110%;
      color: #FFFFFF;
    }
  }

  &__info {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 30px;
  }

  &__list {
    &-item {
      font-weight: 450;
      font-size: 16px;
      line-height: 110%;

      &::marker {
        color: #D1253C;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}